DemoProjects/PublishServiceClient/src/conf/xml-resources/web-service-references/PublishBean/wsdl/kamlendu-vostro-1550_8080/PublishBeanService/PublishBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PublishBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://kamlendu-vostro-1550:8080/PublishBeanService/PublishBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllCustomersByFirstName">
<part name="parameters" element="tns:getAllCustomersByFirstName"/>
</message>
<message name="getAllCustomersByFirstNameResponse">
<part name="parameters" element="tns:getAllCustomersByFirstNameResponse"/>
</message>
<message name="createSubscription">
<part name="parameters" element="tns:createSubscription"/>
</message>
<message name="createSubscriptionResponse">
<part name="parameters" element="tns:createSubscriptionResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="getAddressesByCity">
<part name="parameters" element="tns:getAddressesByCity"/>
</message>
<message name="getAddressesByCityResponse">
<part name="parameters" element="tns:getAddressesByCityResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="removeCustomerResponse">
<part name="parameters" element="tns:removeCustomerResponse"/>
</message>
<message name="getCustomerByAddress">
<part name="parameters" element="tns:getCustomerByAddress"/>
</message>
<message name="getCustomerByAddressResponse">
<part name="parameters" element="tns:getCustomerByAddressResponse"/>
</message>
<message name="addSubscriptionsToCustomer">
<part name="parameters" element="tns:addSubscriptionsToCustomer"/>
</message>
<message name="addSubscriptionsToCustomerResponse">
<part name="parameters" element="tns:addSubscriptionsToCustomerResponse"/>
</message>
<message name="removeSubscriptionsFromCustomer">
<part name="parameters" element="tns:removeSubscriptionsFromCustomer"/>
</message>
<message name="removeSubscriptionsFromCustomerResponse">
<part name="parameters" element="tns:removeSubscriptionsFromCustomerResponse"/>
</message>
<message name="getAllCustomersByLastName">
<part name="parameters" element="tns:getAllCustomersByLastName"/>
</message>
<message name="getAllCustomersByLastNameResponse">
<part name="parameters" element="tns:getAllCustomersByLastNameResponse"/>
</message>
<message name="removeAddressFromCustomer">
<part name="parameters" element="tns:removeAddressFromCustomer"/>
</message>
<message name="removeAddressFromCustomerResponse">
<part name="parameters" element="tns:removeAddressFromCustomerResponse"/>
</message>
<message name="getSubscriptionsByTitle">
<part name="parameters" element="tns:getSubscriptionsByTitle"/>
</message>
<message name="getSubscriptionsByTitleResponse">
<part name="parameters" element="tns:getSubscriptionsByTitleResponse"/>
</message>
<message name="getSubscriptionsByType">
<part name="parameters" element="tns:getSubscriptionsByType"/>
</message>
<message name="getSubscriptionsByTypeResponse">
<part name="parameters" element="tns:getSubscriptionsByTypeResponse"/>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"/>
</message>
<message name="updateSubscriptionResponse">
<part name="parameters" element="tns:updateSubscriptionResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="getAllCustomersOfSubscription">
<part name="parameters" element="tns:getAllCustomersOfSubscription"/>
</message>
<message name="getAllCustomersOfSubscriptionResponse">
<part name="parameters" element="tns:getAllCustomersOfSubscriptionResponse"/>
</message>
<message name="removeSubscription">
<part name="parameters" element="tns:removeSubscription"/>
</message>
<message name="removeSubscriptionResponse">
<part name="parameters" element="tns:removeSubscriptionResponse"/>
</message>
<message name="getAllSubscriptionsOfCustomer">
<part name="parameters" element="tns:getAllSubscriptionsOfCustomer"/>
</message>
<message name="getAllSubscriptionsOfCustomerResponse">
<part name="parameters" element="tns:getAllSubscriptionsOfCustomerResponse"/>
</message>
<message name="addAddressToCustomer">
<part name="parameters" element="tns:addAddressToCustomer"/>
</message>
<message name="addAddressToCustomerResponse">
<part name="parameters" element="tns:addAddressToCustomerResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="getAllAddressesOfCustomer">
<part name="parameters" element="tns:getAllAddressesOfCustomer"/>
</message>
<message name="getAllAddressesOfCustomerResponse">
<part name="parameters" element="tns:getAllAddressesOfCustomerResponse"/>
</message>
<portType name="PublishBean">
<operation name="getAllCustomersByFirstName">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersByFirstNameRequest" message="tns:getAllCustomersByFirstName"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersByFirstNameResponse" message="tns:getAllCustomersByFirstNameResponse"/>
</operation>
<operation name="createSubscription">
<input wsam:Action="http://ejb/PublishBean/createSubscriptionRequest" message="tns:createSubscription"/>
<output wsam:Action="http://ejb/PublishBean/createSubscriptionResponse" message="tns:createSubscriptionResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ejb/PublishBean/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="getAddressesByCity">
<input wsam:Action="http://ejb/PublishBean/getAddressesByCityRequest" message="tns:getAddressesByCity"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesByCityResponse" message="tns:getAddressesByCityResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://ejb/PublishBean/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://ejb/PublishBean/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://ejb/PublishBean/removeCustomerRequest" message="tns:removeCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeCustomerResponse" message="tns:removeCustomerResponse"/>
</operation>
<operation name="getCustomerByAddress">
<input wsam:Action="http://ejb/PublishBean/getCustomerByAddressRequest" message="tns:getCustomerByAddress"/>
<output wsam:Action="http://ejb/PublishBean/getCustomerByAddressResponse" message="tns:getCustomerByAddressResponse"/>
</operation>
<operation name="addSubscriptionsToCustomer">
<input wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomerRequest" message="tns:addSubscriptionsToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomerResponse" message="tns:addSubscriptionsToCustomerResponse"/>
</operation>
<operation name="removeSubscriptionsFromCustomer">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionsFromCustomerRequest" message="tns:removeSubscriptionsFromCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionsFromCustomerResponse" message="tns:removeSubscriptionsFromCustomerResponse"/>
</operation>
<operation name="getAllCustomersByLastName">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersByLastNameRequest" message="tns:getAllCustomersByLastName"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersByLastNameResponse" message="tns:getAllCustomersByLastNameResponse"/>
</operation>
<operation name="removeAddressFromCustomer">
<input wsam:Action="http://ejb/PublishBean/removeAddressFromCustomerRequest" message="tns:removeAddressFromCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeAddressFromCustomerResponse" message="tns:removeAddressFromCustomerResponse"/>
</operation>
<operation name="getSubscriptionsByTitle">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsByTitleRequest" message="tns:getSubscriptionsByTitle"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsByTitleResponse" message="tns:getSubscriptionsByTitleResponse"/>
</operation>
<operation name="getSubscriptionsByType">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeRequest" message="tns:getSubscriptionsByType"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeResponse" message="tns:getSubscriptionsByTypeResponse"/>
</operation>
<operation name="updateSubscription">
<input wsam:Action="http://ejb/PublishBean/updateSubscriptionRequest" message="tns:updateSubscription"/>
<output wsam:Action="http://ejb/PublishBean/updateSubscriptionResponse" message="tns:updateSubscriptionResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://ejb/PublishBean/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="getAllCustomersOfSubscription">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersOfSubscriptionRequest" message="tns:getAllCustomersOfSubscription"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersOfSubscriptionResponse" message="tns:getAllCustomersOfSubscriptionResponse"/>
</operation>
<operation name="removeSubscription">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionRequest" message="tns:removeSubscription"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionResponse" message="tns:removeSubscriptionResponse"/>
</operation>
<operation name="getAllSubscriptionsOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getAllSubscriptionsOfCustomerRequest" message="tns:getAllSubscriptionsOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getAllSubscriptionsOfCustomerResponse" message="tns:getAllSubscriptionsOfCustomerResponse"/>
</operation>
<operation name="addAddressToCustomer">
<input wsam:Action="http://ejb/PublishBean/addAddressToCustomerRequest" message="tns:addAddressToCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addAddressToCustomerResponse" message="tns:addAddressToCustomerResponse"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="getAllAddressesOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getAllAddressesOfCustomerRequest" message="tns:getAllAddressesOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getAllAddressesOfCustomerResponse" message="tns:getAllAddressesOfCustomerResponse"/>
</operation>
</portType>
<binding name="PublishBeanPortBinding" type="tns:PublishBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllCustomersByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerByAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscriptionsToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscriptionsFromCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomersByLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAddressFromCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomersOfSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubscriptionsOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAddressesOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PublishBeanService">
<port name="PublishBeanPort" binding="tns:PublishBeanPortBinding">
<soap:address location="http://kamlendu-vostro-1550:8080/PublishBeanService/PublishBean"/>
</port>
</service>
</definitions>