DemoProjects/JPAServiceClient/src/conf/xml-resources/web-service-references/JPAWebService/wsdl/localhost_8080/JPAWebService/JPAWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="JPAWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/JPAWebService/JPAWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmployeesOnSal">
<part name="parameters" element="tns:getEmployeesOnSal"/>
</message>
<message name="getEmployeesOnSalResponse">
<part name="parameters" element="tns:getEmployeesOnSalResponse"/>
</message>
<message name="getAllEmployees">
<part name="parameters" element="tns:getAllEmployees"/>
</message>
<message name="getAllEmployeesResponse">
<part name="parameters" element="tns:getAllEmployeesResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="removeEmployee">
<part name="parameters" element="tns:removeEmployee"/>
</message>
<portType name="JPAWebService">
<operation name="getEmployeesOnSal">
<input wsam:Action="http://service/JPAWebService/getEmployeesOnSalRequest" message="tns:getEmployeesOnSal"/>
<output wsam:Action="http://service/JPAWebService/getEmployeesOnSalResponse" message="tns:getEmployeesOnSalResponse"/>
</operation>
<operation name="getAllEmployees">
<input wsam:Action="http://service/JPAWebService/getAllEmployeesRequest" message="tns:getAllEmployees"/>
<output wsam:Action="http://service/JPAWebService/getAllEmployeesResponse" message="tns:getAllEmployeesResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://service/JPAWebService/addEmployee" message="tns:addEmployee"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://service/JPAWebService/updateEmployee" message="tns:updateEmployee"/>
</operation>
<operation name="removeEmployee">
<input wsam:Action="http://service/JPAWebService/removeEmployee" message="tns:removeEmployee"/>
</operation>
</portType>
<binding name="JPAWebServicePortBinding" type="tns:JPAWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmployeesOnSal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="JPAWebService">
<port name="JPAWebServicePort" binding="tns:JPAWebServicePortBinding">
<soap:address location="http://localhost:8080/JPAWebService/JPAWebService"/>
</port>
</service>
</definitions>