DemoProjects/SecureWebApp/src/conf/xml-resources/web-service-references/SecureBookBean/wsdl/kamlendu-Vostro-1550_8080/SecureBookBeanService/SecureBookBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="SecureBookBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://kamlendu-Vostro-1550:8080/SecureBookBeanService/SecureBookBean?xsd=1"/>
</xsd:schema>
</types>
<message name="updateBook">
<part name="parameters" element="tns:updateBook"/>
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse"/>
</message>
<message name="removeBook">
<part name="parameters" element="tns:removeBook"/>
</message>
<message name="removeBookResponse">
<part name="parameters" element="tns:removeBookResponse"/>
</message>
<message name="getAllBooks">
<part name="parameters" element="tns:getAllBooks"/>
</message>
<message name="getAllBooksResponse">
<part name="parameters" element="tns:getAllBooksResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<portType name="SecureBookBean">
<operation name="updateBook">
<input wsam:Action="http://ejb/SecureBookBean/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://ejb/SecureBookBean/updateBookResponse" message="tns:updateBookResponse"/>
</operation>
<operation name="removeBook">
<input wsam:Action="http://ejb/SecureBookBean/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://ejb/SecureBookBean/removeBookResponse" message="tns:removeBookResponse"/>
</operation>
<operation name="getAllBooks">
<input wsam:Action="http://ejb/SecureBookBean/getAllBooksRequest" message="tns:getAllBooks"/>
<output wsam:Action="http://ejb/SecureBookBean/getAllBooksResponse" message="tns:getAllBooksResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://ejb/SecureBookBean/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://ejb/SecureBookBean/addBookResponse" message="tns:addBookResponse"/>
</operation>
</portType>
<binding name="SecureBookBeanPortBinding" type="tns:SecureBookBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SecureBookBeanService">
<port name="SecureBookBeanPort" binding="tns:SecureBookBeanPortBinding">
<soap:address location="http://kamlendu-Vostro-1550:8080/SecureBookBeanService/SecureBookBean"/>
</port>
</service>
</definitions>